<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Buggy Bus</title>
</head>
<body>

    <div id='login'>
      <p>login/signup</p>
    </div>

    <div id='login_detail'>
<!--       <%#= render 'users/form' %>
 -->

      <div id='email'>
        <p><%= form_for :user, :url => {:action => "create"} do |f| %>
        <p><%= f.label(:email) %>
            <%= f.text_field(:email) %>
        </p>
      </div>

      <div id='password'>
        <p><%= f.label(:password) %>
          <%= f.text_field(:password) %>
          <% end %>
        </p>
      </div>

      <button id='submit'>Bada Bing</button>

    </div> <!-- login_detail -->

    <header>
      <div class="row">
        <div class="large-12 columns">
          <h2>BUGGY BUS</h2>
          <h3>BADA BING BADA BUS!</h3>
        </div>
      </div>
    </header>

  <!-- <div class="row" style="margin-top: 90px;"> -->
    <!-- <div class="large-5 columns"> -->
<!--       <div class="small-6 small-offset-1 columns">
 -->


    <ul class="small-block-grid-4">
      <li></li>
      <li>
        <div class="panel callout radius">
          <h4>MENU</h4>

          <p id='departure_location'>
            <%= form_for :search, :url =>
            {:action => "create"} do |f| %>
            <%= f.label(:departure_location) %>
            <%= f.select :departure_location,
              [["Select",""],
              ['Boston, MA', 'Boston'],
              ['New York, NY', 'New York'],
              ['Philadelphia, PA', 'Philadelphia'],
              ['Baltimore, MD', 'Baltimore'],
              ['Washington, DC', 'Washington'],
              ['Richmond, VA', 'Richmond'],
              ['Hampton, VA', 'Hampton']]
            %>
          </p>


          <p id='arrival_location'>
            <%= f.label(:arrival_location) %>
            <%= f.select(:arrival_location,
              [["Select",""],
              ['Boston, MA', 'Boston'],
              ['New York, NY', 'New York'],
              ['Philadelphia, PA', 'Philadelphia'],
              ['Baltimore, MD', 'Baltimore'],
              ['Washington, DC', 'Washington'],
              ['Richmond, VA', 'Richmond'],
              ['Hampton, VA', 'Hampton']])
            %>
          </p>
          <p id='departure_date'>
            <%= f.label(:departure_date) %>
            <%= date_select :search, :departure_date %>
             <p id='search'>
            <%= submit_tag("Bada Bus") %>
          </p>
            <% end %>
            </p>
          <p id='oneway'>
            <p>oneway</p>
          </p>
          <p id='lucky'>
            <%= submit_tag("Lucky Bada Bus") %>
          </p>

        </div> <!-- panel callout radius -->
      </li>
    </ul>  <!-- small-block-grid-3 -->
  </div> <!-- row -->


  <map name="mapper">
    <area shape="circle" coords="0,100,100" href="/test"/>
    <map>

</body>
</html>
