
<header>
  <div class="row">
    <div class="large-12 columns">
      <h2>BUGGY BUS</h2>
      <h3>BADA BING BADA BUS!</h3>
    </div>
  </div>
</header>

<ul class="small-block-grid-4">
  <li id="first-li"></li>
  <li id="second-li">
    <div class="panel callout radius">
      <h4>Search</h4>

        <%= form_for :search, :url => {:action => "create"} do |f| %>
          <%= f.label(:departure_location) %>
          <%= f.select :departure_location,
            [["Select",""],
            ['Boston, MA', 'Boston'],
            ['New York, NY', 'New York'],
            ['Philadelphia, PA', 'Philadelphia'],
            ['Baltimore, MD', 'Baltimore'],
            ['Washington, DC', 'Washington'],
            ['Richmond, VA', 'Richmond'],
            ['Hampton, VA', 'Hampton']]
          %>

          <%= f.label(:arrival_location) %>
          <%= f.select(:arrival_location,
            [["Select",""],
            ['Boston, MA', 'Boston'],
            ['New York, NY', 'New York'],
            ['Philadelphia, PA', 'Philadelphia'],
            ['Baltimore, MD', 'Baltimore'],
            ['Washington, DC', 'Washington'],
            ['Richmond, VA', 'Richmond'],
            ['Hampton, VA', 'Hampton']])
          %>

          <%= f.label(:departure_date) %>
          <%= date_select :search, :departure_date %>
          <%= submit_tag("Bada Bus") %>
        <% end %>

    </div> <!-- panel callout radius -->
  </li>
</ul>  <!-- small-block-grid-3 -->

<script type="text/javascript" id='results-template'>
  '<div class="results">
    <div class="row company-price-row">
      <div class="small-2 columns">
        <%%= company_name %>
      </div>
      <div class="small-1 columns">
        <%%= price %>
      </div>
      <div class="small-9 columns">
        <%%= link %>
      </div>
    </div>

    <div class="row departure-row">
      <div class="small-2 columns departure-time">
        <%%= departure_time %>
      </div><div class="small-2 columns departure-time">
        <%%= departure_date %>
      </div>
      <div class="small-8 columns departure-location">
        <%%= departure_location %>
      </div>
    </div>

    <div class="row arrival-row">
      <div class="small-2 columns arrival-time">
        <%%= arrival_time %>
      </div><div class="small-2 columns arrival-time">
        <%%= arrival_date %>
      </div>
      <div class="small-8 columns arrival-location">
        <%%= arrival_location %>
      </div>
    </div>
  </div>'
</script>
