<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Buggy Bus</title>
</head>
<body>

  <header>
    <div class="row">
      <div class="large-12 columns">
        <h2>BUGGY BUS</h2>
        <h3>BADA BING BADA BUS!</h3>
      </div>
    </div>
  </header>

  <ul class="small-block-grid-4">
    <li id="first-li"></li>
    <li id="second-li">
      <div class="panel callout radius">
        <h4>MENU</h4>

        <p>
          <%= form_for :search, :url =>
          {:action => "create"} do |f| %>
          <%= f.label(:departure_location) %>
          <%= f.select :departure_location,
            [["Select",""],
            ['Boston, MA', 'Boston'],
            ['New York, NY', 'New York'],
            ['Philadelphia, PA', 'Philadelphia'],
            ['Baltimore, MD', 'Baltimore'],
            ['Washington, DC', 'Washington'],
            ['Richmond, VA', 'Richmond'],
            ['Hampton, VA', 'Hampton']]
          %>
        </p>


        <p>
          <%= f.label(:arrival_location) %>
          <%= f.select(:arrival_location,
            [["Select",""],
            ['Boston, MA', 'Boston'],
            ['New York, NY', 'New York'],
            ['Philadelphia, PA', 'Philadelphia'],
            ['Baltimore, MD', 'Baltimore'],
            ['Washington, DC', 'Washington'],
            ['Richmond, VA', 'Richmond'],
            ['Hampton, VA', 'Hampton']])
          %>
        </p>
          <p>
            <%= f.label(:departure_date) %>
            <%= date_select :search, :departure_date %>
          <p>
            <%= submit_tag("Bada Bus") %>
          </p>
            <% end %>
          </p>
        <!-- <p id='oneway'>
          <p>oneway</p>
        </p> -->
        <p>
          <%= submit_tag("Lucky Bada Bus") %>
        </p>

      </div> <!-- panel callout radius -->
    </li>
  </ul>  <!-- small-block-grid-3 -->

</body>
</html>
