<h1>Heyso</h1>

<% @schedules.each do |schedule| %>
  <%= schedule.departure_date %>
  <%= schedule.departure_time %>
  <%= schedule.departure_location %>
  <%= schedule.arrival_date %>
  <%= schedule.arrival_time %>
  <%= schedule.arrival_location %>
  <%= schedule.duration %>



<% end %>
