<h1>Heyso</h1>

<% @search_results.each do |schedule| %>
  <%= schedule.departure_date %>
  <%= schedule.departure_time %>
  <%= schedule.departure_location %>
  <%= schedule.arrival_date %>
  <%= schedule.arrival_time %>
  <%= schedule.arrival_location %>
  <%= schedule.duration %>

<% end %>

<%#= collection_select(:departure_location, :search_id, Search.all, :id, :name_with_initial, prompt: true) %>

<%#= collection_select(:post, :author_id, Author.all, :id, :name_with_initial, prompt: true) %>
